@page
@model PesquisarReferenciaModel
@{
    ViewData["Title"] = "Pesquisar Referências";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
<form class="needs-validation" novalidate>
    <div class="input-group">
     <input type="text" class="form-control" aria-label="">
     <button class="btn btn-outline-secondary btn-success" type="button">Pesquisar</button>
   <div/>

</form>

</div>

<div class="container" style="margin-top:"10px;">
    <table class="table" >
  <thead class="table-dark">
   <tr>
	<th>Empresa</th>
	<th>Nome Funcionário</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>E-mail</th>
    <th>Observação</th>

	</tr>
  </thead>
</table>
</div>
