@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema Gerenciador de Referências";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Seja Bem Vindo!</h1>
        <p class="lead">Este é um simples Sistema Web utilizado para armazenamento e consulta de Referências Comerciais.</p>
        <hr class="my-4">
       
    </div>
</div>